@model IEnumerable<FlexCoders_Assignment.Models.Course>

@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Courses</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">

            @if (User.IsInRole("Administrator"))
            {
                <p> @Html.ActionLink("Create New", "Create") </p>
            }

        </div>    
    </div>
</div>





<main role="main">



    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {


                    <div class="col-md-4">

                        
                        <div class="card mb-4 shadow-sm">


                            <img class="card-img-top" src=@item.ImageURL width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                            <div class="card-body">
                                <p class="card-text">@item.CourseName</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-light" onclick="location.href='@Url.Action("Details", "Courses", new { id = item.Id })'">View</button>
                                    </div>
                                    <small class="text-muted">By @item.Contributers</small>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

</main>
