@model IEnumerable<FlexCoders_Assignment.Models.Course>

@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="height:100px;">
    <h1>Courses</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">

            @if (User.IsInRole("Administrator"))
            {
            <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Create", "Courses")'">
                <img width=20 style="margin-bottom:3px; margin-right:5px"  src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_add_48px-512.png" />
                New Course
            </button>           
            }

        </div>    
    </div>
</div>


<main role="main">



    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {


                <div class="col-md-4">
                     <a  href="@Url.Action("Details", "Courses", new { id = item.Id })">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src=@item.ImageURL width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                            <div class="card-body">
                                <p class="card-text" style="color:black;">@item.CourseName</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">By @item.Contributers</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                }
            </div>
        </div>
    </div>

</main>
