@model FlexCoders_Assignment.Models.Links

@{
    ViewBag.Title = "Delete";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="height:100px;">
    <h1>Delete Video Link</h1>
</div>

<div class="col-md-7 center">
    <div class="card">
        <div class="card-header">
            Alert
        </div>
        <div class="card-body">
            <h5 class="card-title">Do you really want to delete @Model.Name ?</h5>
            <div class="d-flex bd-highlight mb-3">
                <div class="mr-auto p-2 bd-highlight">
                    <a href="javascript:history.go(-1)" class="btn btn-primary" >Cancel</a>
                </div>

                @using (Html.BeginForm())
                {
                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                    @Html.AntiForgeryToken()
                    <div class="p-2 bd-highlight form-actions">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </div>

                }
            </div>


        </div>
    </div>
</div>



