@{
    ViewBag.Title = "About";
}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="height:100px;">
    <h1>About</h1>
</div>

<h2>FIT5032 - Internet applications development</h2>
<p>Flloyd Xavier Dsouza 30733154</p>